# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
VS_50PA4500_AUX_REMOTE/VS_50PA4500_AUX_REMOTE/obj/Debug/net5.0-windows/VS_50PA4500_AUX_REMOTE.csproj.AssemblyReference.cache
VS_50PA4500_AUX_REMOTE/VS_50PA4500_AUX_REMOTE/obj/Debug/net5.0-windows/VS_50PA4500_AUX_REMOTE.csproj.CoreCompileInputs.cache
VS_50PA4500_AUX_REMOTE/VS_50PA4500_AUX_REMOTE/obj/Debug/net5.0-windows/VS_50PA4500_AUX_REMOTE.g.resources
VS_50PA4500_AUX_REMOTE/VS_50PA4500_AUX_REMOTE/obj/Debug/net5.0-windows/VS_50PA4500_AUX_REMOTE.pdb
VS_50PA4500_AUX_REMOTE/VS_50PA4500_AUX_REMOTE/obj/Debug/net5.0-windows/VS_50PA4500_AUX_REMOTE_MarkupCompile.cache
VS_50PA4500_AUX_REMOTE/VS_50PA4500_AUX_REMOTE/obj/Debug/net5.0-windows/VS_50PA4500_AUX_REMOTE.csproj.AssemblyReference.cache
VS_50PA4500_AUX_REMOTE/VS_50PA4500_AUX_REMOTE/obj/Debug/net5.0-windows/VS_50PA4500_AUX_REMOTE.csproj.CoreCompileInputs.cache
VS_50PA4500_AUX_REMOTE/VS_50PA4500_AUX_REMOTE/obj/Debug/net5.0-windows/VS_50PA4500_AUX_REMOTE.g.resources
VS_50PA4500_AUX_REMOTE/VS_50PA4500_AUX_REMOTE/obj/Debug/net5.0-windows/VS_50PA4500_AUX_REMOTE.pdb
VS_50PA4500_AUX_REMOTE/VS_50PA4500_AUX_REMOTE/obj/Debug/net5.0-windows/VS_50PA4500_AUX_REMOTE_MarkupCompile.cache
